---
layout: post
title: Forecast verification
category: research-interests
---

Forecast verification is about evaluating the performance of forecasts by
comparing past forecasts to observations. This can be difficult because a)
there are many different types of forecast (point forecasts, probability
forecasts, interval forecasts, ensemble forecasts), and b) there are many ways
in which a forecast can be wrong. A careful and informative assessment of
forecast quality can help to guide decision making, to monitor changes in
performance, and to improve forecasts across a wide range of fields, such as
economics, finance, health, hydrology, and meteorology.

As part of my research I develop better metrics and methods to evaluate the
skill and reliability of forecasts to judge their practical usefulness, and to
compare forecasts from different providers against each other. 

