<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Stefan Siegert</title>
<link rel=stylesheet href=/style.css>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<h1><a href=/ title="Stefan Siegert">Stefan Siegert</a></h1>

<!--begin.rcode init, echo=FALSE
  prefix = paste('fig/', knitr::current_input(dir=FALSE), '-', sep='')
  knitr::opts_chunk$set(fig.width=10, fig.height=5, fig.path=prefix)
end.rcode-->


<h2>Smoke</h2>


<!--begin.rcode, eval=FALSE
library(tidyverse)
end.rcode-->
<!--begin.rcode, include=FALSE
library(tidyverse)
set.seed(3)
end.rcode-->


<!--begin.rcode ggsmoke1
n = 1000
tibble(
  i = 1:n,
  ran1 = c(arima.sim(list(ar=c(1.999, -0.9995)), n, sd=1e-3)),
  ran2 = c(arima.sim(list(ar=c(1.999, -0.9995)), n, sd=1e-3))) %>%
mutate(theta = list(seq(0, 2*pi, len=200))) %>%
unnest(cols=c(theta)) %>%
rowwise() %>%
mutate(dr = ran1 * cos(theta) + ran2 * cos(2*theta) +
            ran2 * sin(theta) + ran1 * sin(2*theta),
       r = .01 * (.1 + i/n)^2 + (i/n)^2 * dr,
       x = r * cos(theta) + 10 * i/n, 
       y = r * sin(theta) + ran1 * i/n) %>%
ggplot() +
  geom_path(aes(x=x, y=y, group=i), show.legend=FALSE, lwd=.1) +
  theme_void()
end.rcode-->

