<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Stefan Siegert</title>
<link rel=stylesheet href=/style.css>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<h1><a href=/ title="Stefan Siegert">Stefan Siegert</a></h1>


<!--begin.rcode init, echo=FALSE
  prefix = paste('fig/', knitr::current_input(dir=FALSE), '-', sep='')
  knitr::opts_chunk$set(fig.width=7, fig.height=7, fig.path=prefix)
end.rcode-->


<!--begin.rcode eval=FALSE
library(tidyverse)
end.rcode-->
<!--begin.rcode include=FALSE
library(tidyverse)
end.rcode-->


INLA stands for Integrated Nested Laplace Approximations. It's a mathematical method for approximate Bayesian inference, implemented in a popular R package. In this note I'll go over the basic idea using a simple example for illustration.

Latent Gaussian models

RW2 + Gaussian noise

likelihood

\[p(y|x,\theta) = \prod_{i=1}^n p(y_i | x, \theta)\]








